body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f9f9f9;
  color: #333;
}

.navbar {
 background: #1e3c72;
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: linear-gradient(to right, #2a5298, #1e3c72);
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  animation: slideDown 0.6s ease-in-out;
}

.navbar .logo {
  font-weight: bold;
  font-size: 1.3rem;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
  color: #fca311;
}

.header {
  background: url('../static/images/fire-banner.jpg') no-repeat center center/cover;
  padding: 4rem 2rem;
  text-align: center;
  color: white;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.header p {
  font-size: 1.2rem;
}

.about-content {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
}

.info-card {
  background: white;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.info-card:hover {
  transform: translateY(-5px);
}

.info-card h2 {
  color: #e63946;
}

.footer {
  background:  #1e3c72;
  color: #ccc;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.9rem;
}
